* {margin: 0; padding: 0; box-sizing: border-box;}
body {background: url('background-image.jpg') no-repeat fixed; background-size: cover; display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100vh;}

/* main */
main {width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center; background-image: linear-gradient(to bottom right, rgba(106, 4, 4, 0.8), rgba(10, 72, 97, 0.8)); padding: 60px; border-top-right-radius: 50px; border-bottom-left-radius: 50px;}
/* brief */
h1 {text-align: center; -webkit-background-clip: text; background-clip: text; color: transparent; background-image: linear-gradient(to right, white, red);}
figure {display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 30px;}
figure img {width: 150px; height: 150px; border-radius: 50%;}
figure figcaption {margin-top: 10px; color: white;}
figure figcaption[data-tool-tip] {position: relative;}
figure figcaption::after {content: attr(data-tool-tip); position: absolute; width: 100%; background-color: rgba(0, 0, 0, 1); padding: 10px; top: 50%; left: 50%; border-top-right-radius: 10px; border-bottom-left-radius: 10px; font-weight: bolder; color: wheat; transform: scale(0); transition: all 350ms ease-in-out;}
figure figcaption:hover::after {transform: scale(1);}
/* input */
.input {display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 40px; width: 100%;}
.input h2 {color: rgba(53, 192, 180, 0.568);}
.input input {padding: 7px 12px; width: 100%; margin-top: 15px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; background-color: rgba(0, 0, 0, 0.3); transform: scale(1); color: white; transition: all 500ms ease-in-out;}
.input input:focus {background-color: rgba(0, 0, 0, 0.9); transform: scale(1.1);}
.input button {margin-top: 15px; padding: 7px 10px; border: none; background-color: rgba(135, 184, 193, 0.3); color: white; font-weight: bolder; border-radius: 5px; cursor: pointer; transform: translateY(0); transition: all 300ms ease-in-out;}
.input button:hover {background-color: rgba(192, 53, 53, 0.568); transform: translateY(5px);}
/* output */
#output {height: 50px; margin-top: 60px; padding: 10px; border-bottom: 2px solid white; width: 100%; border-radius: 10px; display: flex; flex-direction: row; justify-content: center; align-items: flex-end; font-size: 20px; color: white; font-weight: bolder; text-align: center;}




/* tablet design */
@media (max-width: 1000px)
{
    main {width: 70%;}
}

/* phone design */
@media (max-width: 600px)
{
    main {width: 85%;}
    h1 {font-size: 20px;}
    figure {margin-top: 20px;}
    figure img {width: 120px; height: 120px;}
    h2 {font-size: 18px;}
    .input input {transform: scale(0.95); font-size: 12px;}
    .input input:focus {transform: scale(1);}
    .input button {padding: 4px 7px; font-size: 10px;}
    #output {font-size: 14px;}
}